@import "HomeAboutUsBox/homeAboutUsBox";

.aboutUs{
  &_container {
    display: flex;
    flex-direction: column;
    @include fullWidth;

    @include tablet {
      flex-direction: row;
    }

  }

  &_img {
    display: flex;

    @include tablet {
      width: 50%;
      align-items: center;
      justify-content: center;
      background-color: #F0F1F1;
    }

    &_item {
      width: 100%;
      height: auto;
    }
  }

}

