@import "WhichStep/Step1/FormItemStep1/step1";
@import "WhichStep/Step2/step2";
@import "WhichStep/Step3/step3";
@import "WhichStep/Step4/step4";
@import "WhichStep/Step5/step5";
@import "WhichStep/Step6/step6";

.givePageSteps_box {
  @include fullWidth;
  padding: 0 20px;


  @include mateebook {
    background-image: url("../../../../assets/TeddyBearImg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }

  &_btn {
    background-color: transparent;
    color: black;
    padding: 13px 30px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom:50px;

    &:first-of-type {
      margin-right: 30px;
    }

    &::after {
      top:-15%;
      left:-30%;
    }
  }

  @include mateebook {
    padding-left: 100px;
  }
}