@import "StepsItem/stepsItem";

.givePageBanner {
  background-image: url("../../../assets/GivePageBannerImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;


  &_box {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;


    &_text {
      font-size: 36px;
      margin-top: 26px;
      font-weight: lighter;
      margin-bottom: 26px;
      text-align: center;
    }

    &_steps {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 60px;

      @include tablet {
        flex-direction: row;
      }
    }
  }

  @include mateebook {
    background-size: contain;

    .overlay {
      background-color: transparent;
    }

    .container {
      display: flex;
      justify-content: flex-end;
    }

    &_box {
      width: 58%;

      &_text {
        font-size: 38px;
      }

      &_steps {
        margin-bottom: 120px;
      }
    }
  }
}