.steps {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &_title {
    margin-top: 55px;
    margin-bottom: 28px;
    font-size: 30px;
  }

  &_decoration {
    margin-bottom: 34px;
  }

  &_button {
    margin-top: 35px;
    margin-bottom: 50px;

    &_btn {
      background-color: white;
      border: 1px solid $color-main;

      &:hover {
        background-color: #fefeb1;
      }

      &_link {
        font-size: 30px;
        padding: 13px 93px;
        display: block;
        text-decoration: none;
        color: $color-main;
        font-family: $font-base;
      }
    }
  }
}

.steps_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  @include fullWidth;
  background-color: #F0F1F1;

  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &_img {
      margin-bottom: 10px;
    }

    &_title {
      font-size: 18px;
      margin-bottom: 8px;
      width: 124px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after {
        content:"";
        margin-top: 10px;
        display: block;
        height: 2px;
        background-color: #707070;
        width: 70px;
      }
    }
    &_text {
      text-align: center;
      width:140px;
    }
  }
}